<style type="text/css">
    .nobmp-reporte-accordion{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    table, td{
      text-align: center !important;
    }
    table, th{
      text-align: center !important;
    }

    .tabbable-line>.nav-tabs>li {
        color : black;
    }
    .tabbable-line>.nav-tabs>li.active {
        border-bottom : 4px solid red;
    }
    .portlet>.portlet-title>.nav-tabs>li.active>a, .portlet>.portlet-title>.nav-tabs>li:hover>a{
        color : white;
        font-weight: bold;
    }

    @media (min-width: 768px) {
        .modal-xl {
            width: 90%;
        }
    }

</style>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    MUESTRAS <small>(Ultima actualización {{ lastDay }})</small>
                </div>
            </div>
            <div class="portlet-body">
                <div id="muestras" style="height:500px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers"></i>
                    <span class="caption-subject bold uppercase">CALIDAD HISTÓRICO - {{ leyendaGeneralTitle }}</span>
                </div>
                 <div class="actions" ng-init="showCalidad = 1;">
                    <a class="btn red-sunglo" href="javascript:;" ng-click="showCalidad = 1; initGrafica('highstock', data_grafica_calidad);">
                        Calidad
                    </a>
                    <a class="btn blue-steel" href="javascript:;" ng-click="showCalidad = 2; initGrafica('highstock', data_grafica_de);">
                       Desviación Estándar <small>(Calidad Dedos)</small>
                    </a>
                    <a class="btn purple-plum" href="javascript:;" ng-click="showCalidad = 3; initGrafica('highstock', data_grafica_peso);">
                        Peso caja
                    </a>
					<a class="btn yellow-mint" href="javascript:;" ng-click="showCalidad = 4; initGrafica('highstock', data_grafica_peso_cluster);">
                        Peso clúster
                    </a>
                    <a class="btn grey-gallery" href="javascript:;" ng-click="showCalidad = 5; initGrafica('highstock', data_grafica_cluster);">
                        Clúster
                    </a>
                </div> 
            </div>
            <div class="portlet-body">
                <div id="highstock" style="height:500px;"></div>
            </div>
        </div>

        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers"></i>
                    <span class="caption-subject bold uppercase">DAÑOS HISTÓRICO - {{ leyendaGeneralTitle }}</span>
                </div>
                <div class="actions" ng-init="showCategorias = 1;">
                    <a class="btn red-sunglo" href="javascript:;" ng-click="showCategorias = 1; initGrafica('highstock_danos', data_grafica_categorias_todos);">
                        Todos
                    </a>
                    <a ng-show="seleccion_historico" class="btn blue-steel" href="javascript:;" ng-click="showCategorias = 2; initGrafica('highstock_danos', data_grafica_categorias_seleccion);">
                        Selección
                    </a>
                    <a ng-show="empaque_historico" class="btn purple-plum" href="javascript:;" ng-click="showCategorias = 3; initGrafica('highstock_danos', data_grafica_categorias_empaque);">
                        Empaque
                    </a>
                    <a ng-show="otros_historico" class="btn yellow-mint" href="javascript:;" ng-click="showCategorias = 4; initGrafica('highstock_danos', data_grafica_categorias_otros);">
                        Otros
                    </a>
                </div> 
            </div>
            <div class="portlet-body">
                <div id="highstock_danos" style="height:500px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    CLIENTE/MARCA - CALIDAD
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="35%"> CLIENTE/MARCA </th>
                                <th width="20%"> CALIDAD </th>
                                <th width="20%"> # CLÚSTER </th>
                                <th width="20%"> PESO (KG) </th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>

                    <div class="panel-group accordion" id="accordion3" ng-repeat="tabla in tabla_cliente_marca_calidad" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#tabla_collapse_{{tabla.id}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="38%" class="nobmp-reporte-accordion"> {{ tabla.cliente_marca }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.calidad | number:2 }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.cluster | number:2 }} </th>
                                                    <th width="18%" class="nobmp-reporte-accordion"> {{ tabla.peso | number:2 }} </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_{{tabla.id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr ng-repeat="marcas in tabla.marcas">
                                            <td><a ng-click="getTablaDanos(marcas.marca)" role="button" data-toggle="modal" data-target="#exampleModalLong">{{marcas.marca}}</a></td>
                                            <td>{{marcas.calidad | number:2 }}</td>
                                            <td>{{marcas.cluster | number:2 }}</td>
                                            <td>{{marcas.peso | number:2 }}</td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="tabla.marcas.length == 0">
                                        <strong>Marcas: </strong> No se ha encontrado información de marcas para {{tabla.cliente_marca}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DAÑOS -->
    <div class="col-md-6 col-sm-6">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    CLIENTE/MARCA - DAÑOS</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="35%"> CLIENTE/MARCA </th>
                                <th width="20%"> SELECCIÓN </th>
                                <th width="20%"> EMPAQUE </th>
                                <th width="20%"> OTROS </th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>


                    <div class="panel-group accordion" id="accordion4" ng-repeat="tabla in tabla_cliente_marca_danos" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#tabla_collapse_danos_{{tabla.id}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="38%" class="nobmp-reporte-accordion"> {{ tabla.cliente_marca }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.seleccion  | number:2 }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.empaque  | number:2 }} </th>
                                                    <th width="18%" class="nobmp-reporte-accordion"> {{ tabla.otros  | number:2 }} </th>
                                                </tr>
                                        </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_danos_{{tabla.id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr ng-repeat="marcas in tabla.marcas">
                                            <td><a ng-click="getTablaDanos()" role="button" data-toggle="modal" data-target="#exampleModalLong">{{marcas.marca}}</a></td>
                                            <td>{{marcas.seleccion | number:2 }}</td>
                                            <td>{{marcas.empaque | number:2 }}</td>
                                            <td>{{marcas.otros | number:2 }}</td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="tabla.marcas.length == 0">
                                        <strong>Marcas: </strong> No se ha encontrado información de marcas para {{tabla.cliente_marca}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="portlet box green-haze">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <span class="caption-subject bold uppercase">Daños Generales</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="echarts_generales" style="height:300px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="portlet box green-haze">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <span class="caption-subject bold uppercase">Detalle de Daños</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#portlet_tab2_1" style="padding: 5" ng-show="seleccion" ng-click="initPastel('echarts_generales_detalles', data_grafica_pastel_seleccion)" data-toggle="tab"> Seleccion</a>
                    </li>
                    <li>
                        <a href="#portlet_tab2_2" style="padding: 5" ng-show="empaque" ng-click="initPastel('echarts_generales_detalles', data_grafica_pastel_empaque)" data-toggle="tab"> Empaque </a>
                    </li>
                    <li>
                        <a href="#portlet_tab2_3" style="padding: 5" ng-show="otros" ng-click="initPastel('echarts_generales_detalles', data_grafica_pastel_otros)" data-toggle="tab"> Otros </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div id="echarts_generales_detalles" style="height:300px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title inline" id="exampleModalLongTitle">Tabla de Daños</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th COLSPAN="4"></th>
                                        <th COLSPAN="8">SELECCION</th>
                                        <th COLSPAN="9">EMPAQUE</th>
                                        <th COLSPAN="4">OTROS</th>
                                        <th COLSPAN="2"></th>
                                    </tr>
                                    <tr>
                                        <th>N</th>
                                        <th>Peso (Kg)</th>
                                        <th># Cluster</th>
                                        <th># Dedos</th>
                                        <!-- seleccion -->
                                        <th title="Daño de colapsis">BM</th>
                                        <th title="Daño de pulpa">BR</th>
                                        <th title="Daño de cuchillo">CT</th>
                                        <th title="Látex gelatinoso">LG</th>
                                        <th title="Cicatriz de hoja">LP</th>
                                        <th title="Látex seco">LS</th>
                                        <th title="Daño de cuello">NI</th>
                                        <th title="Daño de punta">PS</th>
                                        <th title="Estropeo">SR</th>
                                        <!-- empaque -->
                                        <th title="Daño de pulpa">BR</th>
                                        <th title="Daño de cuchillo">CT</th>
                                        <th title="Flores">FL</th>
                                        <th title="Mutilado">MF</th>
                                        <th title="Daño de cuello">NI</th>
                                        <th title="Sobre grado">OQ</th>
                                        <th title="Estropeo">SR</th>
                                        <th title="Moquillo">TC</th>
                                        <th title="Bajo grado">UG</th>
                                        <!-- otros -->
                                        <th title="Colaspis">CO</th>
                                        <th title="Speckling">SK</th>
                                        <th title="Trips">TR</th>
                                        <th title="Dedo corto">TS</th>
                                        <th title="Cochinilla">WI</th>

                                        <th>Total Daños</th>
                                        <th>Calidad Dedos (%)</th>
                                        <th>Calidad Cluster (%)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="calidad in tabla_principal">
                                        <td>{{$index+1}}</td>
                                        <td>{{calidad.peso}}</td>
                                        <td>{{calidad.cantidad_gajos}}</td>
                                        <td>{{calidad.cantidad_dedos}}</td>

                                        <td>{{calidad.seleccion.BM}}</td>
                                        <td>{{calidad.seleccion.BR}}</td>
                                        <td>{{calidad.seleccion.CT}}</td>
                                        <td>{{calidad.seleccion.LG}}</td>
                                        <td>{{calidad.seleccion.LP}}</td>
                                        <td>{{calidad.seleccion.LS}}</td>
                                        <td>{{calidad.seleccion.NI}}</td>
                                        <td>{{calidad.seleccion.PS}}</td>
                                        <td>{{calidad.seleccion.SR}}</td>

                                        <td>{{calidad.empaque.BR}}</td>
                                        <td>{{calidad.empaque.CT}}</td>
                                        <td>{{calidad.empaque.FL}}</td>
                                        <td>{{calidad.empaque.MF}}</td>
                                        <td>{{calidad.empaque.NI}}</td>
                                        <td>{{calidad.empaque.OQ}}</td>
                                        <td>{{calidad.empaque.SR}}</td>
                                        <td>{{calidad.empaque.TC}}</td>
                                        <td>{{calidad.empaque.UG}}</td>

                                        <td>{{calidad.otros.CO}}</td>
                                        <td>{{calidad.otros.SK}}</td>
                                        <td>{{calidad.otros.TR}}</td>
                                        <td>{{calidad.otros.TS}}</td>
                                        <td>{{calidad.otros.WI}}</td>

                                        <td>{{ calidad.total_danos }}</td>
                                        <td style="text-align: right !important;">{{calidad.calidad_dedos}}</td>
                                        <td style="text-align: right !important;">{{calidad.calidad_cluster}}</td>
                                        
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>P/T</td>
                                        <td>{{ tabla_principal | avgOfValue : 'peso' | number : 2 }}</td>
                                        <td>{{ tabla_principal | avgOfValue : 'cantidad_gajos' | number : 2 }}</td>
                                        <td>{{ tabla_principal | avgOfValue : 'cantidad_dedos' | number : 2 }}</td>

                                        <td>{{ tabla_principal | sumOfValue : 'seleccion' : 'BM' }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'seleccion' : 'BR'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'seleccion' : 'CT'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'seleccion' : 'LG'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'seleccion' : 'LP'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'seleccion' : 'LS'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'seleccion' : 'NI'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'seleccion' : 'PS'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'seleccion' : 'SR'  }}</td>

                                        <td>{{ tabla_principal | sumOfValue : 'empaque' : 'BR'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'empaque' : 'CT'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'empaque' : 'FL'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'empaque' : 'MF'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'empaque' : 'NI'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'empaque' : 'OQ'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'empaque' : 'SR'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'empaque' : 'TC'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'empaque' : 'UG'  }}</td>

                                        <td>{{ tabla_principal | sumOfValue : 'otros' : 'CO'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'otros' : 'SK'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'otros' : 'TR'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'otros' : 'TS'  }}</td>
                                        <td>{{ tabla_principal | sumOfValue : 'otros' : 'WI'  }}</td>

                                        <td style="text-align: right !important;">{{ tabla_principal | sumOfValue : 'total_danos' | number }}</td>
                                        <td style="text-align: right !important;">{{ tabla_principal | avgOfValue : 'calidad_dedos' | number : 2 }}</td>
                                        <td style="text-align: right !important;">{{ tabla_principal | avgOfValue : 'calidad_cluster' | number : 2 }}</td>
                                    </tr>    
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>