<form id="form-producto"  role="form" method="post" class="form-horizontal form-row-seperated">
    <div class="row">
        <fieldset class="scheduler-border">
            <div class="col-md-6">
                <legend class="scheduler-border">
                        Configurar
                </legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Fecha <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="table-group-action-input form-control datepicker" data-date-format="yyyy-mm-dd" readonly name="fecha" ng-model="data.fecha" id="fecha" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Tipo <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <select class="form-control" id="tipo" name="tipo" ng-model="newConfiguracion.tipo">
                            <option value=""></option>
                            <option value="{{key}}" ng-repeat="(key , value) in configuracion.tipos">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="remitente">Marca </label>
                    <div class="col-md-8">
                        <select class="form-control" id="marca" name="marca" ng-model="newConfiguracion.marca">
                            <option value=""></option>
                            <option value="{{key}}" ng-repeat="(key , value) in configuracion.marcas">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="remitentePuesto">Exportadora <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <select class="form-control" id="exportadora" name="exportadora" ng-model="newConfiguracion.exportadora">
                            <option value=""></option>
                            <option value="{{key}}" ng-repeat="(key , value) in configuracion.exportadora">{{value}}</option>
                        </select>
                    </div>
                </div>  
                <div class="form-group">
                    <label class="col-md-4 control-label" for="generoEmpresa">Buque <small class="color-gray"></small> <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="newConfiguracion.buque" id="buque">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-md-4 control-label" for="ciudad">Contenedor
                        <!--<small class="color-gray"></small> <span class="required" aria-required="true"> * </span>-->
                    </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="newConfiguracion.contenedor" id="contenedor">
                    </div>
                </div>
            </div>
        </fieldset> 
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green" ng-click="save()">Guardar</button>
                    <button type="button" class="btn default" ng-click="cancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>