<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center-th" ng-click="setOrderTable('id')">  
                            ID
                        </th>
                        <th class="center-th" ng-click="setOrderTable('hora')">HORA</th>
                        <th class="center-th" ng-click="setOrderTable('peso')">PESO ({{ table.unidad | uppercase }})</th>
                        <th class="center-th" ng-click="setOrderTable('tipo')">TIPO</th>
                        <th class="center-th" style="min-width: 135px;" ng-click="setOrderTable('marca')">MARCA</th>
                        <th class="center-th" ng-click="setOrderTable('tipo_creacion')">TIPO CREACION</th>
                    </tr>
                    <tr role="row" class="filter">
                        <td>
                            <input type="text" class="form-control form-filter" ng-model="table.search.id" ng-change="searchTable.calculatePages()"/>
                        </td>
                        <td><input type="text" class="form-control form-filter" ng-model="table.search.hora" ng-change="searchTable.calculatePages()"/></td>
                        <td><input type="text" class="form-control form-filter" ng-model="table.search.peso" ng-change="searchTable.calculatePages()"/></td>
                        <td><input type="text" class="form-control form-filter" ng-model="table.search.tipo" ng-change="searchTable.calculatePages()"/></td>
                        <td><input type="text" class="form-control form-filter" ng-model="table.search.marca" ng-change="searchTable.calculatePages()"/></td>
                        <td><input type="text" class="form-control form-filter" ng-model="table.search.tipo_creacion" ng-change="searchTable.calculatePages()"/></td>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                        ng-class="{'bg-red-sunglo' : row.peso_corregido == 1, 'delete' : row.delete}"
                        ng-dblclick="editar(row, $index)" 
                        ng-repeat="row in resultValue = (registros | filter: table.search | startFrom: searchTable.startFrom | limitTo : searchTable.limit)">

                        <td><input type="checkbox" ng-model="row._delete" ng-change="editar(row, $index)" /> {{ row.id }}</td>
                        <td>{{ row.hora }}</td>
                        <td class="{{ getClassUmbral(row) }}">
                            <span>{{ row.peso | number: 2 }}</span>
                        </td>
                        <td>{{ row.tipo }}</td>
                        <td>{{ row.marca }}</td>
                        <td>{{ row.tipo_creacion }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10">
                            <div class="col-md-5 col-sm-12">
                                Página {{ searchTable.actual_page }} de {{ searchTable.numPages }}
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <div class="pull-left">
                                    <a class="btn btn-sm default prev" ng-click="prev(registros)"><</a>
                                    <input type="text" maxlength="5" class="pagination-panel-input form-control input-sm input-inline input-mini" value="{{searchTable.actual_page}}" readonly/>
                                    <a class="btn btn-sm default next" ng-click="next(registros)">></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="hide">
            <table id="table_1">
                <thead>
                    <tr>
                        <th class="center-th">ID</th>
                        <th class="center-th">HORA</th>
                        <th class="center-th">PESO</th>
                        <th class="center-th">TIPO</th>
                        <th class="center-th" style="min-width: 135px;">MARCA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'bg-red-sunglo' : row.peso_corregido == 1}" ng-repeat="row in resultValue">
                        <td>{{ row.id }}</td>
                        <td>{{ row.hora }}</td>
                        <td class="{{ getClassUmbral(row) }}">
                            <span>{{ row.peso | number: 2 }}</span>
                        </td>
                        <td>{{ row.tipo }}</td>
                        <td><span>{{ row.marca }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>