    <div class="row">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light portlet-fit portlet-datatable bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">LISTADO DE USUARIOS</span>
                    </div>
                    <div class="tools"> </div>
                </div>
                <div class="portlet-body">
                    <div class="table-container">
                        <div class="table-actions-wrapper">
                            <a href="/clientes"><button class="btn btn-sm green">Agregar Organización</button></a>
                        </div>
                        <table class="table table-striped table-bordered table-hover table-checkable" id="usuarios">
                            <thead>
                                <tr role="row" class="heading">
                                    <th style="display:none"> </th>
                                    <th width="7%"> ID</th>
                                    <th width="20%"> Fecha </th>
                                    <th width="21%"> Nombre </th>
                                    <th width="5%"> Usuario </th>
                                    <th width="5%"> Status </th>
                                    <th width="7.5%"> Acciones </th>
                                </tr>
                                <tr role="row" class="filter">
                                    <th style="display:none"> </th>
                                    <td><input type="text" class="form-control form-filter input-sm" name="order_id"> </td>
                                    <td>
                                        <div class="input-group date date-picker margin-bottom-5" data-date-format="yyyy-mm-dd">
                                            <input type="text" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="From">
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
                                            <input type="text" class="form-control form-filter input-sm" readonly name="order_date_to" placeholder="To">
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-filter input-sm" name="order_customer_name"> </td>
                                    <td><input type="text" class="form-control form-filter input-sm" name="order_ciudad"> </td>
                                    <td>
                                        <select name="order_status" class="form-control form-filter input-sm">
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                    </td>
                                    <td>
                                    <div class="margin-bottom-5">
                                            <button class="btn btn-sm green btn-outline filter-submit margin-bottom">
                                                <i class="fa fa-search"></i> </button>
                                        </div>
                                        <button class="btn btn-sm red btn-outline filter-cancel">
                                            <i class="fa fa-times"></i> </button>
                                    </td>
                                </tr>
                            </thead>
                            <tbody> </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>