    <style>
        .text-algin{
            text-align: center;
        }
    </style>    
     <!-- END DASHBOARD STATS 1-->
          <div class="row">
             <div class="col-md-7">
                 <div class="portlet light portlet-fit ">
                     <div class="portlet-title">
                         <div class="caption">
                             <i class=" icon-layers font-green"></i>
                             <span class="caption-subject font-green bold uppercase"><!--Lote : {{tittles.lote}} | Labor : {{tittles.labor}}--> {{ status_tittle }}</span>
                         </div>
                         <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn red btn-outline btn-circle btn-sm active" ng-click="clearCache('mes')">
                                <input type="radio" name="options" class="toggle" id="option1">Mes</label>
                                <label class="btn red btn-outline btn-circle btn-sm" ng-click="clearCache('semana')">
                                <input type="radio" name="options" class="toggle" id="option2">Semana</label>
                                 <label ng-hide="id_company <= 4 " class="btn red btn-outline btn-circle btn-sm" ng-click="clearCache('auditoria')">
                                <input type="radio" name="options" class="toggle" id="option2">Auditoria</label>
                            </div>
                        </div>
                     </div>
                     <div class="portlet-body">
                         <div id="echarts_bar_causa_principal" style="height:300px;"></div>
                     </div>
                 </div>
             </div>       
              <div class="col-md-5 col-sm-6">
                  <!-- BEGIN PORTLET-->
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                      CAUSAS
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                         <table class="table table-hover table-light">
                            <tr  class="text-algin">
                                <td><a ng-click="orderByField4= 'causa';reverseSort4 = !reverseSort4">CAUSAS</a></td>
                                <td ><a ng-click="orderByField4= 'porcentaje';reverseSort4 = !reverseSort4">% 1</a></td>
                                <td><a ng-click="orderByField4= 'porcentaje2';reverseSort4 = !reverseSort4">% 2</a></td>
                            </tr>
                            <tbody>
                                <tr ng-repeat="data in wizardData.data|orderObjectBy:orderByField4:reverseSort4">
                                    <td>{{data.causa}}</td>
                                    <td class="text-algin"><span>{{data.porcentaje | number : 2}}</span></td>
                                    <td class="text-algin">{{ (data.porcentaje2 > 0) ? (data.porcentaje2 | number : 2) : '' }}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td>TOTAL</td>
                                <td class="text-algin"><span>{{getTotals(1) | number : 2}}</span></td>
                                <td class="text-algin">{{getTotals(2) | number : 2}}</td>
                              </tr>
                            </tfoot>
                         </table>
                      </div>
                  </div>
                  <!-- END PORTLET-->
              </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-6">
                  <!-- BEGIN PORTLET-->
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                     LOTE - LABOR % 1
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                          <div id="echarts_bar_lotes_labor" style="height:300px;"></div>
                      </div>
                  </div>
                  <!-- END PORTLET-->
              </div>
          </div>
          <div ng-show="id_company != 7" class="row" id="casusas_negative" style="display:none">
            <div class="col-md-12 col-sm-6">
                  <!-- BEGIN PORTLET-->
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                     LOTE - LABOR % 2
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                          <div id="echarts_bar_lotes_labor2" style="height:300px;"></div>
                      </div>
                  </div>
                  <!-- END PORTLET-->
              </div>
          </div>
          <!-- END DASHBOARD STATS 1-->
          <div class="row">
              <div class="col-md-12 col-sm-6">
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                     FOTOS 
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                            <div class="portfolio-content portfolio-3">
                                <div class="clearfix">
                                    <div id="js-grid-lightbox-gallery" class="cbp">
                                         <div ng-repeat="(key, value) in wizardData.photos" class="cbp-item {{value.labor}}">
                                            <a class="cbp-caption cbp-singlePageInline" data-title="<?php echo $valor->type;?>" rel="nofollow">
                                            <!-- <a href="../assets/global/plugins/cubeportfolio/ajax/project4.html" class="cbp-caption cbp-singlePageInline" data-title="Bolt UI<br>by Tiberiu Neamu" rel="nofollow"> -->
                                                <div class="cbp-caption-defaultWrap">
                                                    <img ng-src="{{value.imagen}}" alt=""> </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignLeft">
                                                        <div class="cbp-l-caption-body">
                                                            <div class="cbp-l-caption-title">{{value.causa}}</div>
                                                            <div class="cbp-l-caption-desc">{{value.labor}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>
                  </div>
              </div>
          </div>