<style type="text/css">
    .nobmp-reporte-accordion{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .portlet.box .dataTables_wrapper .dt-buttons{
        margin-top: 0px !important; 
    }
    .fixedHeader-floating{top:60px!important;}

    .limiTWidthPersonal {
        max-width: 235px !important;
        width: 235px !important;
        min-width: 235px !important;
    }

    .minWidth {
        max-width: 25px !important;
        width: 25px !important;
        min-width: 25px !important;
    }

    .limiTWigth {
        max-width: 215px !important;
        width: 215px !important;
        min-width: 215px !important;
    }
    .withCell  {
        text-align: center;
        max-width: 70px !important;
        width: 70px !important;
        min-width: 70px !important;
        float: left;
    }
    .withCellComplete {
        text-align: center;
        max-width: 190px !important;
        width: 190px !important;
        min-width: 190px !important;
    }
    .center {
        text-align: center;
    }
    .pointer {
        cursor:pointer;
    }
</style>
<div class="row">
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings"></i>PERSONAL</div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
        </div>
    </div>
    <div class="portlet-body">
        <!--<form action="">
            <div class="form-body">
                <div class="form-group">
                    <label for="">
                        Buscar :
                    </label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="search.nombre">
                    </div>
                </div>
            </div>
        </form>-->
        <div class="table-actions-wrapper">
            <button class="btn btn-outline yellow" ng-click="exportarExcel()">Excel</button>
        </div>
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover table-header-fixed dataTable no-footer" id="sample_editable_1" ng-init="search.orderBy = 'nombre'; search.reverse = false; search.limit = '10'; search.actual_page = 1;">
                <thead>
                    <tr>
                        <th class="pointer minWidth" id="id_column" ng-click="changeSort('id')">N</th>
                        <th class="pointer selected sorting_asc limiTWidthPersonal" id="nombre_column" ng-click="changeSort('nombre')">NOMBRES</th>
                        <th ng-repeat="(key, value) in tittles | orderObjectBy : 'dia'" class="limiTWigth">
                            <div class="row">
                                <div class="col-md-12 center">
                                    {{ value.day_week }}
                                </div>
                                <br>
                                <div class="col-md-7">
                                    LABOR
                                </div>
                                <div class="col-md-3">
                                    LOTES
                                </div>
                                <div class="col-md-2">
                                    HA
                                </div>
                            </div>
                        </th>
                        <th class="pointer" id="total_column" width="6.6%" ng-click="changeSort('total')">TOTAL HECTAREAS</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="40">
                            <div class="col-md-5 col-sm-12">
                                Página {{ (search.actual_page | num) || 0 }} de {{ (personal.length / (search.limit | num) | num) + (personal.length % (search.limit | num) == 0 ? 0 : 1) }}
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <a class="btn btn-sm default prev" ng-click="prev(personal)"><</a>
                                <input type="text" maxlength="5" class="pagination-panel-input form-control input-sm input-inline input-mini" ng-model="search.actual_page"/>
                                <a class="btn btn-sm default next" ng-click="next(personal)">></a>
                            </div>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr role="row" ng-repeat="detalle in personal | orderBy : search.orderBy : search.reverse | limitTo : search.limit">
                        <td class="minWidth">{{(detalle.id)}}</td>
                        <td class="limiTWidthPersonal">{{detalle.nombre}}</td>
                        <th ng-repeat="(key, value) in tittles | orderObjectBy : 'dia'" class="center limiTWigth">
                            <div class="row">
                                <div class="col-md-7">
                                    {{detalle.dias[value.dia].labor}}
                                </div>
                                <div class="col-md-3">
                                    {{detalle.dias[value.dia].lotes}}
                                </div>
                                <div class="col-md-2">
                                    {{detalle.dias[value.dia].hectareas}}
                                </div>
                            </div>
                        </th>
                        <!--<th ng-repeat="(key, value) in tittles | orderObjectBy : 'dia'" class="center">{{ detalle.dias[value.dia].labor + " - " + detalle.dias[value.dia].lotes + " - " + detalle.dias[value.dia].hectareas  }}</th>-->
                        <td class="center">{{detalle.total}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

