<style type="text/css">
    .nobmp-reporte-accordion{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    table, td{
      text-align: center !important;
    }
    table, th{
      text-align: center !important;
    }
   
    .withCell > td {
        max-width: 130px !important;
        width: 130px !important;
        min-width: 130px !important;
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="col-md-12" id="contentMain">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">QUALITY FINCAS</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="principal" style="height:500px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="contentClusterCaja">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">CLUSTER BY BOX</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="clusterCajas" style="height:500px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="clusterContent">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">CLUSTERS</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Cluster</th>
                            <th>Average</th>
                            <th>%</th>
                        </tr>
                        <tbody>
                            <tr class="withCell"  ng-repeat-start="finca in clusters" ng-click="openDetalle(finca)">
                                <td>{{finca.finca}}</td>
                                <td>{{finca.promedio  | number : 2}}</td>
                                <td></td>
                                <!--<td>{{finca.porcentaje | number : 2}}</td>-->
                            </tr>
                            <tr ng-repeat-end  ng-show="finca.expand">
                                <td colspan="3">
                                    <table class="table table-striped table-bordered table-hover">
                                        <tbody>
                                            <tr class="withCell" ng-repeat-start="subFincas in finca.details" ng-click="openDetalle(subFincas)">
                                                <td>{{subFincas.subFinca}}</td>
                                                <td>{{subFincas.promedio  | number : 2}}</td>
                                                <td>{{subFincas.porcentaje | number : 2}}</td>
                                            </tr>
                                            <tr ng-repeat-end ng-show="subFincas.expand">
                                                <td colspan="3">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <tbody>
                                                            <tr class="withCell" ng-repeat="cluster in subFincas.details">
                                                                <td>{{cluster.cluster}}</td>
                                                                <td>{{cluster.promedio | number : 2}}</td>
                                                                <td>{{cluster.porcentaje | number : 2}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="dedosConten">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">FINGERS</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Fingers</th>
                            <th>Average</th>
                            <th>%</th>
                        </tr>
                        <tbody>
                            <tr class="withCell"  ng-repeat-start="finca in dedos" ng-click="openDetalle(finca)">
                                <td>{{finca.finca}}</td>
                                <td>{{finca.promedio  | number : 2}}</td>
                                <td>{{finca.porcentaje | number : 2}}</td>
                            </tr>
                            <tr ng-repeat-end ng-show="finca.expand">
                                <td colspan="3">
                                    <table class="table table-striped table-bordered table-hover">
                                        <tbody>
                                            <tr class="withCell" ng-repeat-start="subFincas in finca.details" ng-click="openDetalle(subFincas)">
                                                <td>{{subFincas.subFinca}}</td>
                                                <td>{{subFincas.promedio  | number : 2}}</td>
                                                <td>{{subFincas.porcentaje | number : 2}}</td>
                                            </tr>
                                            <tr ng-repeat-end ng-show="subFincas.expand">
                                                <td colspan="3">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <tbody>
                                                            <tr class="withCell" ng-repeat="dedos in subFincas.details">
                                                                <td>{{dedos.dedos}}</td>
                                                                <td>{{dedos.promedio  | number : 2}}</td>
                                                                <td>{{dedos.porcentaje | number : 2}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="contentDefectos">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">DEFECTS</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="defectos" style="height:500px;"></div>
            </div>
        </div>
    </div>
</div>