<form id="form-producto"  role="form" method="post" class="form-horizontal form-row-seperated">
    <div class="row">
        <fieldset class="scheduler-border">
            <div class="col-md-6">
                <legend class="scheduler-border">
                        Datos Producto
                </legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Código <!--<span class="required" aria-required="true"> * </span>--></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" disabled ng-model="producto.codigo" id="codigo" placeholder="Escribir Código">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Nombre Comercial <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="producto.nombreComercial" id="nombreComercial" placeholder="Escribir Nombre Comercial">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="remitente">Formuladora </label>
                    <div class="col-md-8">
                        <select class="form-control" id="formuladora" name="formuladora" ng-model="producto.formuladora">
                            <option value=""></option>
                            <option value="{{key}}" ng-repeat="(key , value) in formuladoras">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="remitentePuesto">Proveedor <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <select class="form-control" id="proveedor" name="proveedor" ng-model="producto.proveedor">
                            <option value=""></option>
                            <option value="{{key}}" ng-repeat="(key , value) in proveedores">{{value}}</option>
                        </select>
                    </div>
                </div>  
                <div class="form-group">
                    <label class="col-md-4 control-label" for="generoEmpresa">Tipo de Producto <small class="color-gray"></small> <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <select class="form-control" id="tipo_producto" name="tipo_producto" ng-model="producto.tipo_producto">
                            <option value=""></option>
                            <option value="{{key}}" ng-repeat="(key , value) in tipoProductos">{{value}}</option>
                        </select>
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-md-4 control-label" for="ciudad">Ingrediente Activo
                        <!--<small class="color-gray"></small> <span class="required" aria-required="true"> * </span>-->
                    </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="producto.ingrediente_activo" id="ingrediente_activo" placeholder="Escribir Ingrediente Activo">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="copia">FRAC 
                        <!--<small class="color-gray"></small><span class="required" aria-required="true"> * </span>-->
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" id="frac" name="frac" ng-model="producto.frac">
                            <option value=""></option>
                            <option value="{{key}}" ng-repeat="(key , value) in fracs">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="copia">Acción 
                        <!--<small class="color-gray"></small><span class="required" aria-required="true"> * </span>-->
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" id="action" name="action" ng-model="producto.action">
                            <option value=""></option>
                            <option value="{{key}}" ng-repeat="(key , value) in acciones">{{value}}</option>
                        </select>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-4 control-label" for="copia">Dosis 1 
                        <small class="color-gray"></small><span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" id="dosis" min="0" step="0.001" name="dosis" ng-model="producto.dosis" placeholder="1.000">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-4 control-label" for="copia">Dosis 2 
                        <!--<small class="color-gray"></small><span class="required" aria-required="true"> * </span>-->
                    </label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" id="dosis_2" min="0" step="0.001" name="dosis_2" ng-model="producto.dosis_2" placeholder="1.000">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-4 control-label" for="copia">Dosis 3 
                        <!--<small class="color-gray"></small><span class="required" aria-required="true"> * </span>-->
                    </label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" id="dosis_3" min="0" step="0.001" name="dosis_3" ng-model="producto.dosis_3" placeholder="1.000">
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-show="producto.id_producto > 0">
                <legend class="scheduler-border">
                        Precios
                </legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="titulo">Precio <small class="color-gray"></small> <!--<span class="required" aria-required="true"> * </span>--></label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" id="precio" name="precio" ng-model="precio.precio" placeholder="1.00">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="nombre">Inicio <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text"  class="table-group-action-input form-control date-picker" data-date-format="yyyy-mm-dd" readonly ng-model="precio.fecha" id="fecha" name="fecha" placeholder="Seleccionar Fecha">
                    </div>
                </div> 
                <div class="form-group">
                    <div class="col-xs-3 col-xs-offset-9">
                        <button type="button" ng-click="add()" class="btn blue">Agregar</button>
                    </div>
                </div> 
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td>Precio</td>
                                        <td>Fecha</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" ng-repeat="row in precios">
                                        <td>{{row.precio}}</td>
                                        <td>{{row.fecha}}</td>
                                    </tr>
                                </tbody> 
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset> 
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green" ng-click="save()">Guardar</button>
                    <button type="button" class="btn default" ng-click="cancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>