<style type="text/css">
    .nobmp-reporte-accordion{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
</style>
<div class="row">	
<div class="col-md-6 col-sm-6">
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class=" icon-layers font-green"></i>
                <span class="caption-subject font-green bold uppercase">HISTÓRICO %MERMA</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="historico" style="height:500px;"></div>
        </div>
    </div>
</div>
    <div class="col-md-6 col-sm-6">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">HOY % MERMA</span>
                </div>
                <div ng-if="id_company == 7" class="actions">
                    <!-- <label ng-if="id_company == 7" for=""> -->
                        <!-- Finca :  -->
                    <!-- </label> -->
                    <select ng-if="id_company == 7" onchange="fincasDia()" ng-model="calidad.params.idFincaDia" style="float:right; font-size:100%; width:125px" class="form-control form-filter input-sm" id="fincas_dia">
                        <option ng-repeat="(key, value) in fincas" value="{{key}}">{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="portlet-body">
                <div id="dia" style="height:500px;"></div>
            </div>
        </div>
	</div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">

        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>LOTE</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr style="cursor: pointer;">
                                <th width="26%" ng-click="orderByField = 'lote';reverseSort = !reverseSort" style="text-align: center;" class="nobmp-reporte-accordion"> LOTE </th>
                                <th width="20%" ng-click="orderByField = 'total_peso_merma';reverseSort = !reverseSort" style="padding-left: 2% !important" class="nobmp-reporte-accordion"> PESO {{labelPeso}} </th>
                                <th ng-if="id_company < 6 && id_company != 4" width="25%" ng-click="orderByField = 'total_defectos';reverseSort = !reverseSort" style="padding-left: 3% !important" class="nobmp-reporte-accordion"> # DAÑOS </th>
                                <th width="20%" ng-click="orderByField = 'merma';reverseSort = !reverseSort" class="nobmp-reporte-accordion"> % MERMA </th>
                                <th width="15%">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>

                    <div class="panel-group accordion" id="accordion3" ng-repeat="tabla in tabla_lote_merma|orderObjectBy:orderByField:reverseSort" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#tabla_collapse_{{tabla.id}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="25%" style="padding-left: 10% !important" class="nobmp-reporte-accordion"> {{ tabla.lote }} </th>
                                                    <th width="25%" style="padding-left: 2% !important" class="nobmp-reporte-accordion"> {{ tabla.total_peso_merma | number:2 }} </th>
                                                    <th ng-if="id_company < 6 && id_company != 4" width="25%" style="padding-left: 1% !important" class="nobmp-reporte-accordion"> {{ tabla.total_defectos | number:2 }} </th>
                                                    <th width="20%" style="padding-left: 1% !important" class="nobmp-reporte-accordion"> {{ tabla.merma | number:2 }} %</th>
                                                    <th width="5%" class="nobmp-reporte-accordion"> </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_{{tabla.id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr style="cursor: pointer;" >
                                            <td ng-click="orderByField2 = 'type';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField2 = 'danhos_peso';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-if="id_company < 6 && id_company != 4" ng-click="orderByField2 = 'filter';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField2 = 'cantidad';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat="detalle in tabla.detalle|orderObjectBy:orderByField2:reverseSort2">
                                            <td width="25%" >{{detalle.type}}</td>
                                            <td width="25%" >{{detalle.danhos_peso | number:2 }}</td>
                                            <td ng-if="id_company < 6 && id_company != 4" width="25%" >{{ detalle.filter = tabla.detalle_danhos[detalle.type] | number:2 }}</td>
                                            <td width="25%" >{{detalle.cantidad | number:2 }} %</td>
                                            <td width="5%" ></td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="tabla.lote.length == 0">
                                        <strong>Marcas: </strong> No se ha encontrado información de marcas para {{tabla.cliente_marca}}
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- DAÑOS -->
    <div class="col-md-6 col-sm-6">

        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>DAÑOS</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr style="cursor: pointer;">
                                <th ng-click="orderByField3 = 'type';reverseSort3 = !reverseSort3" width="35%"> CATEGORIAS </th>
                                <th ng-click="orderByField3 = 'danhos_peso';reverseSort3 = !reverseSort3" width="20%"> PESO {{labelPeso}} </th>
                                <th ng-if="id_company < 6 && id_company != 4" ng-click="orderByField3 = 'filter';reverseSort3 = !reverseSort3" width="20%"> # DAÑOS </th>
                                <th ng-click="orderByField3 = 'cantidad';reverseSort3 = !reverseSort3" width="20%"> % MERMA </th>
                                <th width="20%"> </th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>


                    <div class="panel-group accordion" id="accordion4" ng-repeat="tabla in tabla_danos_merma|orderObjectBy:orderByField3:reverseSort3" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#tabla_collapse_danos_{{$index}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="36%" class="nobmp-reporte-accordion"> {{ tabla.type }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.danhos_peso  | number:2 }} </th>
                                                    <th ng-if="id_company < 6 && id_company != 4" width="22%" class="nobmp-reporte-accordion"> {{ tabla.filter = tabla_danos_merma_danhos_merma[tabla.type]  | number:2 }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.cantidad  | number:2 }} %</th>
                                                    <th width="18%" class="nobmp-reporte-accordion"> </th>
                                                </tr>
                                        </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_danos_{{$index}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr style="cursor: pointer;" >
                                            <td ng-click="orderByField4 = 'campo';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField4 = 'danhos_peso';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-if="id_company < 6 && id_company != 4" ng-click="orderByField4 = 'filter';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField4 = 'cantidad';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat="detalle in tabla.detalle|orderObjectBy:orderByField4:reverseSort4">
                                            <td width="36%">{{detalle.campo}}</td>
                                            <td width="22%">{{detalle.danhos_peso | number:2 }}</td>
                                            <td ng-if="id_company < 6 && id_company != 4" width="22%">{{detalle.filter = tabla.detalle_danhos[detalle.campo.replace("Peso " , "")] | number:2 }}</td>
                                            <td width="22%">{{detalle.cantidad | number:2 }} %</td>
                                            <td></td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="tabla.marcas.length == 0">
                                        <strong>Marcas: </strong> No se ha encontrado información de marcas para {{tabla.cliente_marca}}
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="portlet light portlet-fit bordered">
          <div class="portlet-title">
              <div class="caption">
                  <span class="caption-subject font-dark sbold uppercase">
                      <h3>
                         DAÑOS GENERALES
                      </h3>
                  </span>
              </div>
          </div>
          <div class="portlet-body">
              <div id="echarts_generales" style="height:450px;"></div>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="portlet light portlet-fit bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-share font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Detalle de Daños</span>
                </div>
				<select onchange="cambiarDanosDetalle()" style="float:right; font-size:100%; width:125px" class="form-control form-filter input-sm" id="detalles_danhos">
					<option value="ENFUNDE">Enf % Prot</option>
					<option value="CAMPO">Campo</option>
					<option value="COSECHA">Cosecha</option>
					<option value="HONGOS">Hongos</option>
					<option value="ANIMALES">Animales</option>
					<option value="EMPACADORA">Empacadora</option>
					<option value="FISIOLOGICOS">Fisiologicas</option>
				</select>
            </div>
          <div class="portlet-body">
            <div id="echarts_generales_detalles" style="height:450px;"></div>
          </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>TENDENCIA</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <div id="tendencia" style="height:500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>