<style type="text/css">
    .nobmp-reporte-accordion{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .column_hide {
        display: none !important;
    }

    .withCell > td {
        max-width: 130px !important;
        width: 130px !important;
        min-width: 100px !important;
    }
    .text-center{
        text-align: center !important;
    }

</style>
<div class="row">	
	<div ng-class="classColumns">
	    <div class="portlet light portlet-fit ">
	        <div class="portlet-title">
	            <div class="caption">
	                <i class=" icon-layers font-green"></i>
	                <span class="caption-subject font-green bold uppercase">HISTÓRICO %MERMA</span>
	            </div>
                <select ng-change="changeYears()" ng-model="calidad.params.year" style="float:right; font-size:100%; width:125px" class="form-control form-filter input-sm" id="historico_years">
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                </select>
	        </div>
	        <div class="portlet-body">
	            <div id="historico" style="height:500px;"></div>
	        </div>
	    </div>
	</div>
	<div ng-class="classColumns">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">HOY % MERMA</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="dia" style="height:500px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12" ng-show="id_company == 7 || id_company == 2">
        <div class="portlet box light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>LOTE</div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn blue btn-outline btn-circle btn-sm ng-binding" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">     
                            Columnas <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li class="active">
                                <a ng-click="disableColumns('racimos_lote' , $event)" href="javascript:;">Muestras Totales</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('racimos_lote_avg' , $event)" href="javascript:;">Muestras Prom</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('total_peso' , $event)" href="javascript:;">Peso Total</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('total_peso_merma' , $event)" href="javascript:;">Peso Prom</a>
                            </li>
                            <li ng-if="inArray(id_company , companiesDefect)" class="active">
                                <a ng-click="disableColumns('total_defectos' , $event)" href="javascript:;">Dedos Total</a>
                            </li>
                            <li ng-if="inArray(id_company , companiesDefectProm)">
                                <a ng-click="disableColumns('total_prom' , $event)" href="javascript:;">Dedos Prom</a>
                            </li>
                            <li>
                                <a ng-click="disableColumns('cajas' , $event)" href="javascript:;">Cajas</a>
                            </li>
                            <li>
                                <a ng-click="disableColumns('usd' , $event)" href="javascript:;">Dólares</a>
                            </li>
                        </ul>
                        <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                            Exportar
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:;" ng-click="exportExcel('lote_table', 'Merma por Lote')">Excel</a></li>
                            <li><a href="javascript:;" ng-click="exportPdf('lote_table')">PDF</a></li>
                            <li><a href="javascript:;">Imprimir</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover" id="lote_table">
                            <thead>
                                <tr style="cursor: pointer; text-align: center !important;" class="withCell">
                                    <th  data-field="lote" ng-click="orderByField = 'lote';reverseSort = !reverseSort" style="text-align: center;">
                                        LOTE 
                                    </th>
                                    <th data-field="merma" ng-click="orderByField = 'merma';reverseSort = !reverseSort" style="text-align: center;"> 
                                        % MERMA 
                                    </th>
                                    <th  class=" racimos_lote" ng-click="orderByField = 'racimos_lote';reverseSort = !reverseSort" style="text-align: center;"> 
                                        MUESTRAS <br> TOTALES 
                                    </th>
                                    <th  class=" racimos_lote_avg" ng-click="orderByField = 'racimos_lote_avg';reverseSort = !reverseSort" style="text-align: center;"> 
                                        MUESTRAS <br> PROM 
                                    </th>
                                    <th  class=" total_peso" ng-click="orderByField = 'total_peso';reverseSort = !reverseSort" style="text-align: center;"> 
                                        PESO <br> TOTAL {{labelPeso}} 
                                    </th>
                                    <th  class="total_peso_merma" ng-click="orderByField = 'total_peso_merma';reverseSort = !reverseSort" style="text-align: center;"> 
                                        PESO <br> PROM {{labelPeso}} 
                                    </th>
                                    <th ng-if="inArray(id_company , companiesDefect)" class=" total_defectos"   ng-click="orderByField = 'total_defectos';reverseSort = !reverseSort" style="text-align: center;"> 
                                        DEDOS <br> TOT
                                    </th>
                                    <th ng-if="inArray(id_company , companiesDefectProm)" class="total_prom"   ng-click="orderByField = 'total_prom';reverseSort = !reverseSort" style="text-align: center;"> 
                                        DEDOS <br> PROM
                                    </th>
                                    <th class="column_hide cajas"   ng-click="orderByField = 'cajas';reverseSort = !reverseSort" style="text-align: center;"> 
                                        CAJAS
                                    </th>
                                    <th class="column_hide usd"   ng-click="orderByField = 'usd';reverseSort = !reverseSort" style="text-align: center;"> 
                                        DÓLARES
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="withCell" style="cursor: pointer; text-align: right;" ng-repeat-start="tabla in tabla_lote_merma|orderObjectBy:orderByField:reverseSort" ng-click="openDetalle(tabla , 0 , $event)">
                                    <td style="text-align: center !important;">{{tabla.lote}}</td>
                                    <td class="text-center">{{tabla.merma | number : 2 }} %</td>
                                    <td class="text-center racimos_lote">{{tabla.racimos_lote | number : 2}}</td>
                                    <td class="text-center racimos_lote_avg">{{tabla.racimos_lote_avg | number : 2}}</td>
                                    <td class="text-center total_peso">{{tabla.peso_total | number : 2}}</td>
                                    <td class="text-center total_peso_merma">
                                        {{ ((id_company == 7) 
                                            ? tabla.peso_total / tabla.racimos_lote
                                            : tabla.total_peso_merma) | number : 2 }}
                                    </td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="total_defectos text-center">{{tabla.total_defectos_sum | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefectProm) && id_company == 2" class="total_prom text-center">
                                        {{  tabla.dedos_prom_marcel | number : 2 }}
                                    </td>
                                    <td ng-if="inArray(id_company , companiesDefectProm) && id_company == 7" class="total_prom text-center">{{ tabla.total_peso_merma * factor | number : 2 }}</td>
                                    <td class="column_hide cajas text-center">{{tabla.cajas | number : 2 }}</td>
                                    <td class="column_hide usd text-center">{{tabla.usd | number : 2 }}</td>
                                </tr>
                                <tr ng-show="tabla.expanded" ng-repeat-end="">
                                    <td colspan="10" style="padding: 0px">
                                        <table class="table table-striped table-bordered table-hover">
                                            <tr class="withCell" style="cursor: pointer; text-align: right;" ng-repeat-start="category in tabla.detalle" ng-click="openDetalle(category , 1 , $event)">
                                                <td style="text-align: left !important;">{{category.type}}</td>
                                                <td class="text-center column_merma">{{category.cantidad | number : 2 }} %</td>
                                                <td class="text-center racimos_lote"></td>
                                                <td class="text-center racimos_lote_avg"></td>
                                                <td class="text-center total_peso">{{ category.peso_total | number : 2 }}</td>
                                                <td class="text-center total_peso_merma">
                                                    {{ ((id_company == 7) 
                                                        ? category.peso_total / tabla.racimos_lote
                                                        : category.danhos_peso) | number : 2 }}
                                                </td>
                                                <td ng-if="inArray(id_company , companiesDefect)" class="text-center total_defectos">{{tabla.detalle_danhos[category.type] | number : 2}}</td>
                                                <td ng-if="inArray(id_company , companiesDefectProm) && id_company != 7 && id_company != 2" class="text-center total_prom">
                                                    {{tabla.detalle_danhos_sum[category.type] * factor | number : 2}}
                                                </td>
                                                <td ng-if="inArray(id_company , companiesDefectProm) && (id_company == 7 || id_company == 2)" class="text-center total_prom">
                                                    {{ ((id_company != 2)
                                                        ? category.peso_total / tabla.racimos_lote * 5
                                                        : category.dedos_prom_marcel) | number : 2 }}
                                                </td>
                                                <td class="column_hide text-center cajas">{{category.cajas | number : 2}}</td>
                                                <td class="column_hide text-center usd">{{category.usd | number : 2}}</td>
                                            </tr>
                                            <tr ng-show="category.expanded" ng-repeat-end="">
                                                <td colspan="10" style="padding: 0px">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <tr class="withCell" style="cursor: pointer; text-align: right;" ng-repeat-end="category" ng-repeat="detail in category.details">
                                                            <td style="text-align: left !important;">{{detail.campo}}</td>
                                                            <td class="text-center column_merma">{{detail.cantidad | number : 2 }} %</td>
                                                            <td class="text-center racimos_lote"></td>
                                                            <td class="text-center racimos_lote_avg"></td>
                                                            <td class="text-center total_peso">{{detail.total_peso | number : 2}}</td>
                                                            <td class="text-center total_peso_merma">
                                                                {{ ((id_company == 7) 
                                                                    ? detail.total_peso / tabla.racimos_lote
                                                                    :  detail.danhos_peso) | number : 2}}</td>
                                                            <td ng-if="inArray(id_company , companiesDefect)" class="text-center total_defectos">{{'detail'}}</td>
                                                            <td ng-if="inArray(id_company , companiesDefectProm) && id_company != 7 && id_company != 2" class="text-center total_prom">{{detalle.details.danhos_merma[detail.campo] | number : 2}}</td>
                                                            <td ng-if="inArray(id_company , companiesDefectProm) && (id_company == 7 || id_company == 2)" class="text-center total_prom">
                                                                {{ ((id_company != 2)
                                                                    ? detail.total_peso / tabla.racimos_lote * 5
                                                                    : detail.dedos_prom_marcel)| number :2 }}
                                                            </td>
                                                            <td class="column_hide text-center cajas">{{detail.cajas | number : 2}}</td>
                                                            <td class="column_hide text-center usd">{{detail.usd | number : 2}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6" ng-show="id_company != 7 && id_company != 2">
        <div class="portlet box light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>LOTE</div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn blue btn-outline btn-circle btn-sm ng-binding" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                            Columnas <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li class="active">
                                <a ng-click="disableColumns('racimos_lote' , $event)" href="javascript:;">Muestras Totales</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('racimos_lote_avg' , $event)" href="javascript:;">Muestras Prom</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('total_peso' , $event)" href="javascript:;">Peso Total</a>
                            </li>
                            <li>
                                <a ng-click="disableColumns('total_peso_merma' , $event)" href="javascript:;">Peso Prom</a>
                            </li>
                            <li ng-if="inArray(id_company , companiesDefect)" class="active">
                                <a ng-click="disableColumns('total_defectos' , $event)" href="javascript:;">Dedos Total</a>
                            </li>
                            <li ng-if="inArray(id_company , companiesDefectProm)">
                                <a ng-click="disableColumns('total_prom' , $event)" href="javascript:;">Dedos Prom</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('cajas' , $event)" href="javascript:;">Cajas</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('usd' , $event)" href="javascript:;">Dólares</a>
                            </li>
                        </ul>
                        <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover" id="lote_table">
                            <thead>
                                <tr style="cursor: pointer; text-align: center !important;" class="withCell">
                                    <th  data-field="lote" ng-click="orderByField = 'lote';reverseSort = !reverseSort" style="text-align: center;">
                                        LOTE 
                                    </th>
                                    <th data-field="merma" ng-click="orderByField = 'merma';reverseSort = !reverseSort" style="text-align: center;"> 
                                        % MERMA 
                                    </th>
                                    <th  class=" column_hide racimos_lote" ng-click="orderByField = 'racimos_lote';reverseSort = !reverseSort" style="text-align: center;"> 
                                        MUESTRAS <br> TOTALES 
                                    </th>
                                    <th  class=" column_hide racimos_lote_avg" ng-click="orderByField = 'racimos_lote_avg';reverseSort = !reverseSort" style="text-align: center;"> 
                                        MUESTRAS <br> PROM 
                                    </th>
                                    <th  class=" column_hide total_peso" ng-click="orderByField = 'total_peso';reverseSort = !reverseSort" style="text-align: center;"> 
                                        PESO <br> TOTAL {{labelPeso}} 
                                    </th>
                                    <th  class="total_peso_merma" ng-click="orderByField = 'total_peso_merma';reverseSort = !reverseSort" style="text-align: center;"> 
                                        PESO <br> PROM {{labelPeso}} 
                                    </th>
                                    <th ng-if="inArray(id_company , companiesDefect)" class=" total_defectos"   ng-click="orderByField = 'total_defectos';reverseSort = !reverseSort" style="text-align: center;"> 
                                        DEDOS <br> TOT
                                    </th>
                                    <th ng-if="inArray(id_company , companiesDefectProm)" class="total_prom"   ng-click="orderByField = 'total_prom';reverseSort = !reverseSort" style="text-align: center;"> 
                                        DEDOS <br> PROM
                                    </th>
                                    <th class="column_hide cajas"   ng-click="orderByField = 'cajas';reverseSort = !reverseSort" style="text-align: center;"> 
                                        CAJAS
                                    </th>
                                    <th class="column_hide usd"   ng-click="orderByField = 'usd';reverseSort = !reverseSort" style="text-align: center;"> 
                                        DÓLARES
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="withCell" style="cursor: pointer; text-align: right;" ng-repeat-start="tabla in tabla_lote_merma|orderObjectBy:orderByField:reverseSort" ng-click="openDetalle(tabla , 0 , $event)">
                                    <td style="text-align: center !important;">{{tabla.lote}}</td>
                                    <td class="text-center">{{tabla.merma | number : 2 }} %</td>
                                    <td class="text-center column_hide racimos_lote">{{tabla.racimos_lote | number : 2}}</td>
                                    <td class="text-center column_hide racimos_lote_avg">{{tabla.racimos_lote_avg | number : 2}}</td>
                                    <td class="text-center column_hide total_peso">{{tabla.peso_total | number : 2}}</td>
                                    <td class="text-center total_peso_merma">
                                        {{ ((id_company == 7 || id_company == 4 || id_company == 6 || id_company == 2) 
                                            ? tabla.peso_total / tabla.racimos_lote
                                            : tabla.total_peso_merma) | number : 2 }}
                                    </td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="total_defectos text-center">{{tabla.total_defectos_sum | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefectProm) && id_company != 7" class="total_prom text-center">{{tabla.total_defectos * factor | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefectProm) && id_company == 7" class="total_prom text-center">{{tabla.total_peso_merma * factor | number : 2}}</td>
                                    <td class="column_hide cajas text-center">{{tabla.cajas | number : 2 }}</td>
                                    <td class="column_hide usd text-center">{{tabla.usd | number : 2 }}</td>
                                </tr>
                                <tr ng-show="tabla.expanded" ng-repeat-end="">
                                    <td colspan="10" style="padding: 0px">
                                        <table class="table table-striped table-bordered table-hover">
                                            <tr class="withCell" style="cursor: pointer; text-align: right;" ng-repeat-start="category in tabla.detalle" ng-click="openDetalle(category , 1 , $event)">
                                                <td style="text-align: left !important;">{{category.type}}</td>
                                                <td class="text-center column_merma">{{category.cantidad | number : 2 }} %</td>
                                                <td class="text-center column_hide racimos_lote"></td>
                                                <td class="text-center column_hide racimos_lote_avg"></td>
                                                <td class="text-center column_hide total_peso">{{ category.peso_total | number : 2 }}</td>
                                                <td class="text-center total_peso_merma">
                                                    {{ ((id_company == 7 || id_company == 4 || id_company == 6 || id_company == 2) 
                                                        ? category.peso_total / tabla.racimos_lote
                                                        : category.danhos_peso) | number : 2 }}
                                                </td>
                                                <td ng-if="inArray(id_company , companiesDefect)" class="text-center total_defectos">{{tabla.detalle_danhos[category.type] | number : 2}}</td>
                                                <td ng-if="inArray(id_company , companiesDefectProm) && id_company != 7 && id_company != 2" class="text-center total_prom">
                                                    {{tabla.detalle_danhos_sum[category.type] * factor | number : 2}}
                                                </td>
                                                <td ng-if="inArray(id_company , companiesDefectProm) && (id_company == 7 || id_company == 2)" class="text-center total_prom">
                                                    {{ category.peso_total / tabla.racimos_lote * 5 | number : 2 }}
                                                </td>
                                                <td class="column_hide text-center cajas">{{category.cajas | number : 2}}</td>
                                                <td class="column_hide text-center usd">{{category.usd | number : 2}}</td>
                                            </tr>
                                            <tr ng-show="category.expanded" ng-repeat-end="">
                                                <td colspan="10" style="padding: 0px">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <tr class="withCell" style="cursor: pointer; text-align: right;" ng-repeat-end="category" ng-repeat="detail in category.details">
                                                            <td style="text-align: left !important;">{{detail.campo}}</td>
                                                            <td class="text-center column_merma">{{detail.cantidad | number : 2 }} %</td>
                                                            <td class="text-center column_hide racimos_lote"></td>
                                                            <td class="text-center column_hide racimos_lote_avg"></td>
                                                            <td class="text-center column_hide total_peso">{{detail.total_peso | number : 2}}</td>
                                                            <td class="text-center total_peso_merma">
                                                                {{ ((id_company == 7 || id_company == 4 || id_company == 6 || id_company == 2) 
                                                                    ? detail.total_peso / tabla.racimos_lote
                                                                    : detail.danhos_peso) | number : 2}}
                                                            </td>
                                                            <td ng-if="inArray(id_company , companiesDefect)" class="text-center total_defectos">{{detail.detalle_danhos[category.type] | number : 2}}</td>
                                                            <td ng-if="inArray(id_company , companiesDefectProm) && id_company != 7 && id_company != 2" class="text-center total_prom">{{ detalle.details.danhos_merma[detail.campo] | number : 2}}</td>
                                                            <td ng-if="inArray(id_company , companiesDefectProm) && (id_company == 7 || id_company == 2)" class="text-center total_prom">{{ detail.total_peso / category.racimos_lote * 5 | number : 2 }}</td>
                                                            <td class="column_hide text-center cajas">{{detail.cajas | number : 2}}</td>
                                                            <td class="column_hide text-center usd">{{detail.usd | number : 2}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                         <!--    <tbody>
                                <tr style="cursor: pointer; text-align: right;" ng-repeat-start="tabla in tabla_lote_merma|orderObjectBy:orderByField:reverseSort" ng-click="openDetalle(tabla , 0 , $event)">
                                    <td style="text-align: center !important;">{{tabla.lote}}</td>
                                    <td>{{tabla.merma | number : 2 }} %</td>
                                    <td class="column_hide racimos_lote">{{tabla.racimos_lote | number : 2}}</td>
                                    <td class="column_hide racimos_lote_avg">{{tabla.racimos_lote_avg | number : 2}}</td>
                                    <td class="column_hide total_peso">{{tabla.peso_total | number : 2}}</td>
                                    <td class=" total_peso_merma">{{tabla.total_peso_merma | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="column_hide total_defectos">{{tabla.total_defectos_sum | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefectProm) && id_company != 7" class="total_prom">{{tabla.total_defectos * factor | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefectProm) && id_company == 7" class="total_prom">{{tabla.total_peso_merma * factor | number : 2}}</td>
                                    <td class="column_hide cajas">{{tabla.cajas | number : 2 }}</td>
                                    <td class="column_hide usd">{{tabla.usd | number : 2 }}</td>
                                </tr>
                                <tr style="cursor: pointer; text-align: right;" id="2nivel_{{tabla.lote}}_{{category.type.replace(' ','_')}}"  
                                ng-show="tabla.expanded" ng-repeat-end="tabla" ng-repeat="category in tabla.detalle" ng-click="openDetalle(category , 1 , $event)">
                                    <td style="text-align: left !important;">{{category.type}}</td>
                                    <td class="column_merma">{{category.cantidad | number : 2 }} %</td>
                                    <td class="column_hide racimos_lote"></td>
                                    <td class="column_hide racimos_lote_avg"></td>
                                    <td class="column_hide total_peso">{{category.peso_total | number : 2 }}</td>
                                    <td class="total_peso_merma">{{category.danhos_peso | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="column_hide total_defectos">{{tabla.detalle_danhos[category.type] | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefectProm) && id_company != 7" class="total_prom">
                                        {{tabla.detalle_danhos_sum[category.type] * factor | number : 2}}
                                    </td>
                                    <td ng-if="inArray(id_company , companiesDefectProm) && id_company == 7" class="total_prom">
                                        {{category.danhos_peso * factor | number : 2}}
                                    </td>
                                    <td class="column_hide cajas">{{category.cajas | number : 2}}</td>
                                    <td class="column_hide usd">{{category.usd | number : 2}}</td>
                                </tr>
                                <tr style="cursor: pointer; text-align: right;" ng-show="category.expanded" ng-repeat-end="category" ng-repeat-start="detail in category.details">
                                    <td style="text-align: left !important;">{{detail.campo}}</td>
                                    <td class="column_merma">{{detail.cantidad | number : 2 }} %</td>
                                    <td class="column_hide racimos_lote">{{detail}}</td>
                                    <td class="column_hide racimos_lote_avg">{{detail}}</td>
                                    <td class="column_hide total_peso">{{detail}}</td>
                                    <td class="total_peso_merma">{{detail.danhos_peso | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="column_hide total_defectos">{{detail}}</td>
                                    <td ng-if="inArray(id_company , companiesDefectProm)" class="total_prom">{{detalle.details.danhos_merma[detail.campo] * factor | number : 2}}</td>
                                    <td class="column_hide cajas">{{detail}}</td>
                                    <td class="column_hide usd">{{detail}}</td>
                                </tr>
                            </tbody>  -->
                        </table>
                    </div>
				</div>
			</div>
		</div>
	</div>

    <!-- DAÑOS -->
    <div class="col-md-6 col-sm-6" ng-show="id_company != 7 && id_company != 2">

        <div class="portlet box light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>DAÑOS</div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn blue btn-outline btn-circle btn-sm ng-binding" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">     
                            Columnas <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li class="active">
                                <a ng-click="disableColumns('racimos_lote_danhos' , $event)" href="javascript:;">Muestras Totales</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('racimos_lote_danhos_avg' , $event)" href="javascript:;">Muestras Prom</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('total_peso_danhos' , $event)" href="javascript:;">Peso Total</a>
                            </li>
                            <li>
                                <a ng-click="disableColumns('total_peso_merma_danhos' , $event)" href="javascript:;">Peso Prom</a>
                            </li>
                            <li ng-if="inArray(id_company , companiesDefect)" class="active">
                                <a ng-click="disableColumns('total_defectos_danhos' , $event)" href="javascript:;">Dedos Total</a>
                            </li>
                            <li ng-if="inArray(id_company , companiesDefectProm)">
                                <a ng-click="disableColumns('total_prom_danhos' , $event)" href="javascript:;">Dedos Prom</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('cajas_danhos' , $event)" href="javascript:;">Cajas</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('usd_danhos' , $event)" href="javascript:;">Dólares</a>
                            </li>
                        </ul>
                        <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                     <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr style="cursor: pointer;">
                                    <th width="10%" ng-click="orderByField2 = 'type';reverseSort2 = !reverseSort2" style="text-align: center;">
                                        CATEGORIA 
                                    </th>
                                    <th width="10%" class="text-center" ng-click="orderByField2 = 'cantidad';reverseSort2 = !reverseSort2"> 
                                        % MERMA 
                                    </th>
                                    <th width="10%"  class="text-center column_hide racimos_lote_danhos" ng-click="orderByField2 = 'racimos_lote';reverseSort2 = !reverseSort2"> 
                                        MUESTRAS TOTALES 
                                    </th>
                                    <th width="10%" class="text-center column_hide racimos_lote_danhos_avg" ng-click="orderByField2 = 'racimos_lote_avg';reverseSort2 = !reverseSort2"> 
                                        MUESTRAS PROM 
                                    </th>
                                    <th width="10%" class="column_hide total_peso_danhos" ng-click="orderByField2 = 'total_peso';reverseSort2 = !reverseSort2"> 
                                        PESO TOTAL {{labelPeso}} 
                                    </th>
                                    <th width="10%" class="text-center total_peso_merma_danhos" ng-click="orderByField2 = 'danhos_peso';reverseSort2 = !reverseSort2"> 
                                        PESO PROM {{labelPeso}} 
                                    </th>
                                    <th ng-if="inArray(id_company , companiesDefect)" width="10%" class="text-center column_hide total_defectos_danhos" ng-click="orderByField2 = 'total_defectos';reverseSort2 = !reverseSort2"> 
                                        DEDOS TOT 
                                    </th>
                                    <th ng-if="inArray(id_company , companiesDefectProm)" width="10%" class="text-center total_prom_danhos" ng-click="orderByField2 = 'total_prom';reverseSort2 = !reverseSort2"> 
                                        DEDOS PROM 
                                    </th>
                                    <th width="10%" class="text-center column_hide cajas_danhos" ng-click="orderByField2 = 'cajas';reverseSort2 = !reverseSort2"> 
                                        CAJAS
                                    </th>
                                    <th width="10%" class="text-center column_hide usd_danhos" ng-click="orderByField2 = 'usd';reverseSort2 = !reverseSort2"> 
                                        DÓLARES
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer; text-align: right;" ng-repeat-start="tabla in tabla_danos_merma|orderObjectBy:orderByField2:reverseSort2" ng-click="openDetalle(tabla , 0 , $event)">
                                    <td style="text-align: left !important;">{{tabla.type}}</td>
                                    <td class="text-center">{{tabla.cantidad | number : 2 }} %</td>
                                    <td class="text-center column_hide racimos_lote_danhos">{{tabla.racimos_lote | number : 2}}</td>
                                    <td class="text-center column_hide racimos_lote_danhos_avg">{{tabla.racimos_lote_avg | number : 2}}</td>
                                    <td class="text-center column_hide total_peso_danhos">{{tabla.peso_total | number : 2}}</td>
                                    <td class="text-center total_peso_merma_danhos">
                                        {{ ((id_company == 4) 
                                            ? tabla.peso_total / tabla.racimos_lote
                                            : tabla.danhos_peso) | number : 2 }}
                                    </td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="text-center column_hide total_defectos_danhos">{{tabla.total_defectos_sum | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefectProm)" class="text-center total_prom_danhos">{{tabla_danos_merma_danhos_merma[tabla.type] * factor | number : 2}}</td>
                                    <td class="text-center column_hide cajas_danhos">{{tabla.cajas | number : 2 }}</td>
                                    <td class="text-center column_hide usd_danhos">{{tabla.usd | number : 2 }}</td>
                                </tr>
                                <tr style="cursor: pointer; text-align: right;" id="2nivel_{{tabla.lote}}_{{category.type}}" ng-show="tabla.expanded" ng-repeat-end="tabla" ng-repeat="category in tabla.detalle" ng-click="openDetalle(category , 1 , $event)">
                                    <td style="text-align: left !important;">{{category.campo}}</td>
                                    <td class="text-center">{{category.cantidad | number : 2 }} %</td>
                                    <td class="text-center column_hide racimos_lote_danhos"></td>
                                    <td class="text-center column_hide racimos_lote_danhos_avg"></td>
                                    <td class="text-center column_hide total_peso_danhos">{{category.peso_total | number : 2 }}</td>
                                    <td class="text-center total_peso_merma_danhos">
                                        {{ ((id_company == 4) 
                                            ? category.peso_total / tabla.racimos_lote
                                            : category.danhos_peso) | number : 2 }}
                                    </td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="text-center column_hide total_defectos_danhos">{{tabla.detalle_danhos[category.campo + " (# Daños)"] | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefectProm)" class="text-center total_prom_danhos">{{tabla.detalle_danhos_sum[category.campo + " (# Daños)"] * factor | number : 2}}</td>
                                    <td class="text-center column_hide cajas_danhos">{{category.cajas | number : 2}}</td>
                                    <td class="text-center column_hide usd_danhos">{{category.usd | number : 2}}</td>
                                </tr>
                                <!-- <tr style="cursor: pointer; text-align: right;" ng-show="category.expanded" ng-repeat-end="" ng-repeat-start="detail in category.details">
                                    <td>{{detail.campo}}</td>
                                    <td>{{detail.cantidad | number : 2 }} %</td>
                                    <td>{{detail}}</td>
                                    <td>{{detail}}</td>
                                    <td>{{detail}}</td>
                                    <td>{{detail.danhos_peso | number : 2}}</td>
                                    <td>{{detail}}</td>
                                    <td>{{detalle.details.danhos_merma[detail.campo] | number : 2}}</td>
                                    <td>{{detail}}</td>
                                    <td>{{detail}}</td>
                                </tr> -->
                                <!-- <tr ng-repeat-end=""></tr> -->
                            </tbody>
                        </table>
                    </div>
                   <!--  <table class="table table-striped table-hover">
                        <thead>
                            <tr style="cursor: pointer;">
                                <th ng-click="orderByField3 = 'type';reverseSort3 = !reverseSort3" width="35%"> CATEGORIAS </th>
                                <th ng-click="orderByField3 = 'danhos_peso';reverseSort3 = !reverseSort3" width="20%"> PESO {{labelPeso}} </th>
                                <th ng-if="inArray(id_company , companiesDefect)" ng-click="orderByField3 = 'filter';reverseSort3 = !reverseSort3" width="20%"> # DAÑOS </th>
                                <th ng-click="orderByField3 = 'cantidad';reverseSort3 = !reverseSort3" width="20%"> % MERMA </th>
                                <th width="20%"> </th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>


                    <div class="panel-group accordion" id="accordion4" ng-repeat="tabla in tabla_danos_merma|orderObjectBy:orderByField3:reverseSort3" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#tabla_collapse_danos_{{$index}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="36%" class="nobmp-reporte-accordion"> {{ tabla.type }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.danhos_peso  | number:2 }} </th>
                                                    <th ng-if="inArray(id_company , companiesDefect)" width="22%" class="nobmp-reporte-accordion"> {{ tabla.filter = tabla_danos_merma_danhos_merma[tabla.type]  | number:2 }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.cantidad  | number:2 }} %</th>
                                                    <th width="18%" class="nobmp-reporte-accordion"> </th>
                                                </tr>
                                        </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_danos_{{$index}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr style="cursor: pointer;" >
                                            <td ng-click="orderByField4 = 'campo';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField4 = 'danhos_peso';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-if="inArray(id_company , companiesDefect)" ng-click="orderByField4 = 'filter';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField4 = 'cantidad';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat="detalle in tabla.detalle|orderObjectBy:orderByField4:reverseSort4">
                                            <td width="36%">{{detalle.campo}}</td>
                                            <td width="22%">{{detalle.danhos_peso | number:2 }}</td>
                                            <td ng-if="inArray(id_company , companiesDefect) && id_company == 2" width="22%">{{detalle.filter = tabla.detalle_danhos[detalle.campo.replace("Peso " , "")] | number:2 }}</td>
                                            <td ng-if="inArray(id_company , companiesDefect)  && id_company == 7" width="22%">{{detalle.filter = tabla.detalle_danhos[detalle.campo + " (# Daños)"] | number:2 }}</td>
                                            <td width="22%">{{detalle.cantidad | number:2 }} %</td>
                                            <td></td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="tabla.marcas.length == 0">
                                        <strong>Marcas: </strong> No se ha encontrado información de marcas para {{tabla.cliente_marca}}
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
     <div class="col-md-12 col-sm-12" ng-show="id_company == 2">

        <div class="portlet box light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>DAÑOS</div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn blue btn-outline btn-circle btn-sm ng-binding" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">     
                            Columnas <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li class="active">
                                <a ng-click="disableColumns('racimos_lote_danhos' , $event)" href="javascript:;">Muestras Totales</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('racimos_lote_danhos_avg' , $event)" href="javascript:;">Muestras Prom</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('total_peso_danhos' , $event)" href="javascript:;">Peso Total</a>
                            </li>
                            <li>
                                <a ng-click="disableColumns('total_peso_merma_danhos' , $event)" href="javascript:;">Peso Prom</a>
                            </li>
                            <li ng-if="inArray(id_company , companiesDefect)" class="active">
                                <a ng-click="disableColumns('total_defectos_danhos' , $event)" href="javascript:;">Dedos Total</a>
                            </li>
                            <li ng-if="inArray(id_company , companiesDefectProm)">
                                <a ng-click="disableColumns('total_prom_danhos' , $event)" href="javascript:;">Dedos Prom</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('cajas_danhos' , $event)" href="javascript:;">Cajas</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('usd_danhos' , $event)" href="javascript:;">Dólares</a>
                            </li>
                        </ul>
                        <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                     <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr style="cursor: pointer;">
                                    <th width="10%" ng-click="orderByField2 = 'type';reverseSort2 = !reverseSort2" style="text-align: center;">
                                        CATEGORIA 
                                    </th>
                                    <th width="10%" class="text-center" ng-click="orderByField2 = 'cantidad';reverseSort2 = !reverseSort2"> 
                                        % MERMA 
                                    </th>
                                    <th width="10%"  class="text-center column_hide racimos_lote_danhos" ng-click="orderByField2 = 'racimos_lote';reverseSort2 = !reverseSort2"> 
                                        MUESTRAS TOTALES 
                                    </th>
                                    <th width="10%" class="text-center column_hide racimos_lote_danhos_avg" ng-click="orderByField2 = 'racimos_lote_avg';reverseSort2 = !reverseSort2"> 
                                        MUESTRAS PROM 
                                    </th>
                                    <th width="10%" class="column_hide total_peso_danhos" ng-click="orderByField2 = 'total_peso';reverseSort2 = !reverseSort2"> 
                                        PESO TOTAL {{labelPeso}} 
                                    </th>
                                    <th width="10%" class="text-center total_peso_merma_danhos" ng-click="orderByField2 = 'danhos_peso';reverseSort2 = !reverseSort2"> 
                                        PESO PROM {{labelPeso}} 
                                    </th>
                                    <th ng-if="inArray(id_company , companiesDefect)" width="10%" class="text-center column_hide total_defectos_danhos" ng-click="orderByField2 = 'total_defectos';reverseSort2 = !reverseSort2"> 
                                        DEDOS TOT 
                                    </th>
                                    <th ng-if="inArray(id_company , companiesDefectProm)" width="10%" class="text-center total_prom_danhos" ng-click="orderByField2 = 'total_prom';reverseSort2 = !reverseSort2"> 
                                        DEDOS PROM 
                                    </th>
                                    <th width="10%" class="text-center column_hide cajas_danhos" ng-click="orderByField2 = 'cajas';reverseSort2 = !reverseSort2"> 
                                        CAJAS
                                    </th>
                                    <th width="10%" class="text-center column_hide usd_danhos" ng-click="orderByField2 = 'usd';reverseSort2 = !reverseSort2"> 
                                        DÓLARES
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer; text-align: right;" ng-repeat-start="tabla in tabla_danos_merma|orderObjectBy:orderByField2:reverseSort2" ng-click="openDetalle(tabla , 0 , $event)">
                                    <td style="text-align: left !important;">{{tabla.type}}</td>
                                    <td class="text-center">{{tabla.cantidad | number : 2 }} %</td>
                                    <td class="text-center column_hide racimos_lote_danhos">{{tabla.racimos_lote | number : 2}}</td>
                                    <td class="text-center column_hide racimos_lote_danhos_avg">{{tabla.racimos_lote_avg | number : 2}}</td>
                                    <td class="text-center column_hide total_peso_danhos">{{tabla.peso_total | number : 2}}</td>
                                    <td class="text-center total_peso_merma_danhos">
                                        {{ ((id_company == 4) 
                                            ? tabla.peso_total / tabla.racimos_lote
                                            : tabla.danhos_peso) | number : 2 }}
                                    </td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="text-center column_hide total_defectos_danhos">{{tabla.total_defectos_sum | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefectProm)" class="text-center total_prom_danhos">{{tabla_danos_merma_danhos_merma[tabla.type] * factor | number : 2}}</td>
                                    <td class="text-center column_hide cajas_danhos">{{tabla.cajas | number : 2 }}</td>
                                    <td class="text-center column_hide usd_danhos">{{tabla.usd | number : 2 }}</td>
                                </tr>
                                <tr style="cursor: pointer; text-align: right;" id="2nivel_{{tabla.lote}}_{{category.type}}" ng-show="tabla.expanded" ng-repeat-end="tabla" ng-repeat="category in tabla.detalle" ng-click="openDetalle(category , 1 , $event)">
                                    <td style="text-align: left !important;">{{category.campo}}</td>
                                    <td class="text-center">{{category.cantidad | number : 2 }} %</td>
                                    <td class="text-center column_hide racimos_lote_danhos"></td>
                                    <td class="text-center column_hide racimos_lote_danhos_avg"></td>
                                    <td class="text-center column_hide total_peso_danhos">{{category.peso_total | number : 2 }}</td>
                                    <td class="text-center total_peso_merma_danhos">
                                        {{ ((id_company == 4) 
                                            ? category.peso_total / tabla.racimos_lote
                                            : category.danhos_peso) | number : 2 }}
                                    </td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="text-center column_hide total_defectos_danhos">{{tabla.detalle_danhos[category.campo + " (# Daños)"] | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefectProm)" class="text-center total_prom_danhos">{{tabla.detalle_danhos_sum[category.campo + " (# Daños)"] * factor | number : 2}}</td>
                                    <td class="text-center column_hide cajas_danhos">{{category.cajas | number : 2}}</td>
                                    <td class="text-center column_hide usd_danhos">{{category.usd | number : 2}}</td>
                                </tr>
                                <!-- <tr style="cursor: pointer; text-align: right;" ng-show="category.expanded" ng-repeat-end="" ng-repeat-start="detail in category.details">
                                    <td>{{detail.campo}}</td>
                                    <td>{{detail.cantidad | number : 2 }} %</td>
                                    <td>{{detail}}</td>
                                    <td>{{detail}}</td>
                                    <td>{{detail}}</td>
                                    <td>{{detail.danhos_peso | number : 2}}</td>
                                    <td>{{detail}}</td>
                                    <td>{{detalle.details.danhos_merma[detail.campo] | number : 2}}</td>
                                    <td>{{detail}}</td>
                                    <td>{{detail}}</td>
                                </tr> -->
                                <!-- <tr ng-repeat-end=""></tr> -->
                            </tbody>
                        </table>
                    </div>
                   <!--  <table class="table table-striped table-hover">
                        <thead>
                            <tr style="cursor: pointer;">
                                <th ng-click="orderByField3 = 'type';reverseSort3 = !reverseSort3" width="35%"> CATEGORIAS </th>
                                <th ng-click="orderByField3 = 'danhos_peso';reverseSort3 = !reverseSort3" width="20%"> PESO {{labelPeso}} </th>
                                <th ng-if="inArray(id_company , companiesDefect)" ng-click="orderByField3 = 'filter';reverseSort3 = !reverseSort3" width="20%"> # DAÑOS </th>
                                <th ng-click="orderByField3 = 'cantidad';reverseSort3 = !reverseSort3" width="20%"> % MERMA </th>
                                <th width="20%"> </th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>


                    <div class="panel-group accordion" id="accordion4" ng-repeat="tabla in tabla_danos_merma|orderObjectBy:orderByField3:reverseSort3" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#tabla_collapse_danos_{{$index}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="36%" class="nobmp-reporte-accordion"> {{ tabla.type }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.danhos_peso  | number:2 }} </th>
                                                    <th ng-if="inArray(id_company , companiesDefect)" width="22%" class="nobmp-reporte-accordion"> {{ tabla.filter = tabla_danos_merma_danhos_merma[tabla.type]  | number:2 }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.cantidad  | number:2 }} %</th>
                                                    <th width="18%" class="nobmp-reporte-accordion"> </th>
                                                </tr>
                                        </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_danos_{{$index}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr style="cursor: pointer;" >
                                            <td ng-click="orderByField4 = 'campo';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField4 = 'danhos_peso';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-if="inArray(id_company , companiesDefect)" ng-click="orderByField4 = 'filter';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField4 = 'cantidad';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat="detalle in tabla.detalle|orderObjectBy:orderByField4:reverseSort4">
                                            <td width="36%">{{detalle.campo}}</td>
                                            <td width="22%">{{detalle.danhos_peso | number:2 }}</td>
                                            <td ng-if="inArray(id_company , companiesDefect) && id_company == 2" width="22%">{{detalle.filter = tabla.detalle_danhos[detalle.campo.replace("Peso " , "")] | number:2 }}</td>
                                            <td ng-if="inArray(id_company , companiesDefect)  && id_company == 7" width="22%">{{detalle.filter = tabla.detalle_danhos[detalle.campo + " (# Daños)"] | number:2 }}</td>
                                            <td width="22%">{{detalle.cantidad | number:2 }} %</td>
                                            <td></td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="tabla.marcas.length == 0">
                                        <strong>Marcas: </strong> No se ha encontrado información de marcas para {{tabla.cliente_marca}}
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="contentHistorico">   
    <div class="col-md-12 col-sm-12" ng-show="id_company == 2">
        <div class="portlet box green">
            <div class="portlet-title">
                <span class="caption">Historíco Semanal</span>
                <div class="tools">
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                            Exportar
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:;" ng-click="exportExcel('table_historico', 'Historíco Semanal')">Excel</a></li>
                            <li><a href="javascript:;">PDF</a></li>
                            <li><a href="javascript:;">Imprimir</a></li>
                        </ul>
                    </div>
                    <select ng-model="mode" ng-change="convertModeSelect()" name="mode" id="mode" style="margin: 2px;height: 36px; color:black">
                        <option value="Total Peso" selected> Total Peso </option>
                        <option value="Prom peso-viaje"> Prom peso/viaje </option>
                        <option value="Prom peso-racimo"> Prom peso/racimo </option>
                        <option value="Total Danos"> Total Daños </option>
                        <option value="Prom dano-viaje"> Daños daño/viaje </option>
                        <option value="Prom dano-racimo"> Daños daño/racimo </option>
                        <option value="Merma"> Merma </option>
                    </select>  
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="table_historico">
                         <thead>
                                <tr role="row" class="heading withCell">
                                    <th width="8.33%" class="center-th" ng-click="orderByField= 'category';reverseSort = !reverseSort"> {{title.column_one}}  </th>
                                    <th width="8.33%" class="center-th" ng-repeat="dia in semanas_historico" ng-bind="dia"></th>
                                    <th width="8.33%" class="center-th" ng-click="orderByField= 'total';reverseSort = !reverseSort"> Total </th>                                  
                                </tr>
                        </thead>
                        <tbody>
                            <tr class="withCell" ng-repeat-start="categories in historico_tabla | orderObjectBy:orderByField:reverseSort" ng-click="openDetalleHistorico(categories)" style="font-style: italic !important; cursor:pointer;">
                                <td class="center-td">{{categories.category}}</td>
                                <td ng-repeat="dia in semanas_historico">
                                    <!-- (lote.cantidad[dia] > 0) ? ( lote.cantidad[dia] | number : 2 ) : '' -->
                                     {{
                                        categories.totales[dia] | number : 2
                                    }}
                                </td>
                                <td class="">
                                   
                                </td>
                            </tr>
                            <tr ng-show="categories.expanded"  class="withCell" style="font-style: italic !important; cursor:pointer;">
                                <td colspan="{{(semanas_historico.length + 2)}}" style="padding: 10px;">
                                    <table class="table table-striped table-bordered table-hover">
                                        <tbody>
                                            <tr class="withCell" ng-repeat-start="lote in categories.lotes | orderObjectBy:orderByField:reverseSort" ng-click="openDetalleHistorico(lote)">
                                                <td class="center-td">{{lote.lote}}</td>
                                                <td ng-repeat="dia in semanas_historico" class="{{ bgTagsFlags(lote.umbral[dia], lote.cantidad[dia]) }}">
                                                    <!-- (lote.cantidad[dia] > 0) ? ( lote.cantidad[dia] | number : 2 ) : '' -->
                                                    {{
                                                        lote.cantidad[dia] | number : 2
                                                    }}
                                                </td>
                                                <td class="{{ bgTagsFlags(lote.umbral_total, lote.total) }}">
                                                    {{lote.total | number : 2}}
                                                </td>
                                            </tr>
                                            <tr class="withCell" ng-show="lote.expanded" ng-repeat-end ng-repeat="campo in lote.details | orderObjectBy:orderByField:reverseSort" style="font-style: italic !important;">
                                                <td class="center-td">{{campo.defecto}}</td>
                                                <td ng-repeat="dia in semanas_historico" >
                                                        <span ng-if="campo.valor[dia] > 0" class="{{tagsFlags(campo.valor[dia])}}"></span> 
                                                    {{campo.valor[dia] | number : 2}}
                                                </td>
                                                <td>
                                                    <span ng-if="campo.total > 0" class="{{tagsFlags(campo.total)}}"></span>
                                                    {{campo.total | number : 2}}
                                                </td>
                                            </tr>	
                                        </tbody>
                                        <tfoot>
                                            <tr ng-repeat="total in totales_historico">
                                                <td>Total : </td>
                                                <td ng-repeat="dia in semanas_historico">
                                                    {{total.cantidad[dia]  | number : 2}}
                                                </td>
                                                <td>{{total.defectos  | number : 2}}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>	
                            <tr ng-repeat-end ng-if="false"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="portlet light portlet-fit bordered">
          <div class="portlet-title">
              <div class="caption">
                  <span class="caption-subject font-dark sbold uppercase">
                      <h3>
                         DAÑOS GENERALES
                      </h3>
                  </span>
              </div>
          </div>
          <div class="portlet-body">
              <div id="echarts_generales" style="height:450px;"></div>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="portlet light portlet-fit bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-share font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Detalle de Daños</span>
                </div>
				<select ng-model="detalle_dano" ng-change="cambiarDanosDetalle()" style="float:right; font-size:100%; width:125px" class="form-control form-filter input-sm" id="detalles_danhos">					
                    <option value="COSECHA" ng-show="in_array('COSECHA', graficas.danos.legend.data)">COSECHA</option>
                    <option value="INSECTOS" ng-show="in_array('INSECTOS', graficas.danos.legend.data)">INSECTOS</option>
                    <option value="LOTERO AEREO" ng-show="in_array('LOTERO AEREO', graficas.danos.legend.data)">LOTERO AEREO</option>
                    <option value="LOTERO TERRESTRE" ng-show="in_array('LOTERO TERRESTRE', graficas.danos.legend.data)">LOTERO TERRESTRE</option>
					<option value="HONGOS" ng-show="in_array('HONGOS', graficas.danos.legend.data)">HONGOS</option>
					<option value="ANIMALES" ng-show="in_array('ANIMALES', graficas.danos.legend.data)">ANIALES</option>
					<option value="EMPACADORA" ng-show="in_array('EMPACADORA', graficas.danos.legend.data)">EMPACADORA</option>
					<option value="FISIOLOGICOS" ng-show="in_array('FISIOLOGICOS', graficas.danos.legend.data)">FISIOLOGIOS</option>
				</select>
            </div>
          <div class="portlet-body">
            <div id="echarts_generales_detalles" style="height:450px;"></div>
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>TENDENCIA
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-3">
                            <select id="yearTendencia" ng-model="calidad.params.yearTendencia" ng-change="changeYearTendencia()" class="form-control input-sm">
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <div id="tendencia" style="margin-top: 30px; height:500px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>