<style type="text/css">
    .nobmp-reporte-accordion{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12">

        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>PERSONAL</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <div class="row" style="padding-bottom: 5px;">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="sample_editable_1_new" class="btn green"> Agregar Personal
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- <div class="btn-group pull-right">
                                <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;"> Print </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> Save as PDF </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> Export to Excel </a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                   <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                        <thead>
                            <tr>
                                <th>N</th>
                                <th>NOMBRES</th>
                                <th>N CEDULA</th>
                                <th>CARGO</th>
                                <th>FECHA DE CONTRATO</th>
                                <th>FECHA DE SALIDA</th>
                                <th>STATUS</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="detalle in tabla.detalle">
                                <td width="5%" >{{detalle.id}}</td>
                                <td width="18%" >
                                    {{detalle.nombre}}
                                </td>
                                <td width="12%" >
                                    {{detalle.cedula}}
                                </td>
                                <td width="12%" >{{detalle.cargo}}</td>
                                <td width="12%" >
                                    {{detalle.fecha_ingreso}}
                                </td>
                                <td width="12%" >
                                    {{detalle.fecha_salida}}
                                </td>
                                <td width="12%" >
                                    <button class="btn btn-sm {{(detalle.status == 1) ? 'bg-green-jungle bg-font-green-jungle' : 'red' }} status" id="status">
                                        {{detalle.tittle_status}}
                                    </button>
                                </td>
                                <td width="12%" >
                                    <!-- <a> Editar </a> -->
                                    <a href="/tthhFPersonal?idPersonal={{detalle.id}}"> Editar </a>
                                </td>
                                <td width="12%">
                                   {{detalle.status}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>