.image-gallery-image img {
    max-height: 50vh;
    object-fit: contain;
}
.image-gallery-play-button::before {
    color : black;
}
.image-gallery-fullscreen-button:hover::before, .image-gallery-play-button:hover::before {
    color : black;
}
.image-gallery-fullscreen-button::before {
    color : black;
}
.image-gallery-play-button.active:hover::before {
    color : black;
}
.image-gallery-fullscreen-button.active::before {
    color : white;
}