.accordion-container {
  width: 60%;
  min-width: 500px;
  margin: 5vh auto;
  border-radius: 5px !important;
  background-color: #fff;
  box-shadow:-2px 1px 2px 2px #0d0d0d22;
}
.accordion-container div {
  border-bottom: 1px solid #ddd;
  transition: border-color 0.5s ease-in;
}

.answer, .summary {
  display: inline-block;
}

.answer {
  background: #fff;;
  color: #000;
}

.summary {
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 25px;
  padding: 15px;
  width : 100%;
}

.folding-pannel {
  display: block;
  transition: all 0.2s ease-in;
  line-height: 40px;
  
}

.active .summary {
  border-color: transparent;
  transition: border-color 0.2s ease-out;
}

.inactive .folding-pannel {
  transform-origin: 50% 0%;
  transform: perspective(250px) rotateX(-90deg);
  transition: all 0.4s ease-in-out;
  height: 0;

}
.active .folding-pannel {
  transform: perspective(350px) rotateX(0deg);
  transition: all 0.4s ease-in-out;
  height: 150px;
  line-height: 50px;
  text-indent: 40px;
  border-top: 1px solid #ddd;
}

.MuiFormControl-root-204 label {
  font-size : 15px !important;
}
.MuiInput-input-232 {
  font-size : 15px !important;
}