<style type="text/css">
    .nobmp-reporte-accordion{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">CALIDAD HISTÓRICO - {{ leyendaGeneralTitle }}</span>
                </div>
                 <div class="actions">
                    <a class="btn btn-success" href="javascript:;" ng-click="viewGraph(1)">
                        <i class="icon-cloud-upload"></i> Calidad
                    </a>
                    <a class="btn btn-warning" href="javascript:;" ng-click="viewGraph(2)">
                        <i class="icon-wrench"></i> Desviación Estándar
                    </a>
                    <a class="btn btn-danger" href="javascript:;" ng-click="viewGraph(3)">
                        <i class="icon-trash"></i> Peso
                    </a>
                    <a class="btn btn-primary" href="javascript:;" ng-click="viewGraph(4)">
                        <i class="icon-trash"></i> Clúster
                    </a>
                </div> 
            </div>
            <div class="portlet-body">
                <div id="highstock_calidad" style="height:500px;"></div>
                <div class="hide" id="highstock_de" style="height:500px;"></div>
                <div class="hide" id="highstock_peso" style="height:500px;"></div>
                <div class="hide" id="highstock_cluster" style="height:500px;"></div>
            </div>
        </div>


        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">DAÑOS HISTÓRICO - {{ leyendaGeneralTitle }}</span>
                </div>
                <div class="actions">
                    <a class="btn btn-success" href="javascript:;" ng-click="viewGraphDanos(1)">
                        <i class="icon-cloud-upload"></i> Todos
                    </a>
                    <a class="btn btn-warning" href="javascript:;" ng-click="viewGraphDanos(2)">
                        <i class="icon-wrench"></i> Selección
                    </a>
                    <a class="btn btn-danger" href="javascript:;" ng-click="viewGraphDanos(3)">
                        <i class="icon-trash"></i> Empaque
                    </a>
                    <a class="btn btn-primary" href="javascript:;" ng-click="viewGraphDanos(4)">
                        <i class="icon-trash"></i> Otros
                    </a>
                </div> 
            </div>
            <div class="portlet-body">
                <div class="hide" id="highstock_1" style="height:500px;"></div>
                <div id="highstock_danos_total" style="height:500px;"></div>
                <div class="hide" id="highstock_danos_seleccion" style="height:500px;"></div>
                <div class="hide" id="highstock_danos_empaque" style="height:500px;"></div>
                <div class="hide" id="highstock_danos_otros" style="height:500px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="display:none">
    <div class="col-md-6 col-sm-6">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cursor font-purple"></i>
                    <span class="caption-subject font-purple bold uppercase">Gagos.Promedio</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-sm btn-circle red easy-pie-chart-reload">
                        <i class="fa fa-repeat"></i> Kilos </a>
                    <a href="javascript:;" class="btn btn-sm btn-circle red easy-pie-chart-reload">
                        <i class="fa fa-repeat"></i> Libras </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="easy-pie-chart">
                            <div class="number transactions" data-percent="55">
                                <span>+55</span>% <canvas height="75" width="75"></canvas></div>
                            <a class="title" href="javascript:;"> Peso Prom Gajo
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm"> </div>
                    <div class="col-md-3">
                        <div class="easy-pie-chart">
                            <div class="number visits" data-percent="85">
                                <span>+85</span>% <canvas height="75" width="75"></canvas></div>
                            <a class="title" href="javascript:;"> Peso Max
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm"> </div>
                    <div class="col-md-3">
                        <div class="easy-pie-chart">
                            <div class="number bounce" data-percent="46">
                                <span>-46</span>% <canvas height="75" width="75"></canvas></div>
                            <a class="title" href="javascript:;"> Peso Min
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm"> </div>
                     <div class="col-md-3">
                        <div class="easy-pie-chart">
                            <div class="number bounce" data-percent="46">
                                <span>-46</span>% <canvas height="75" width="75"></canvas></div>
                            <a class="title" href="javascript:;"> Desv Estandar
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-yellow"></i>
                    <span class="caption-subject font-yellow bold uppercase">Gajos.Estadisticas</span>
                    <span class="caption-helper">monthly stats...</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                    <a href="" class="reload" data-original-title="" title=""> </a>
                    <a href="" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="sparkline-chart">
                            <div class="number" id="sparkline_bar5"><canvas width="113" height="55" style="display: inline-block; width: 113px; height: 55px; vertical-align: top;"></canvas></div>
                            <a class="title" href="javascript:;"> Peso Max
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm"> </div>
                    <div class="col-md-4">
                        <div class="sparkline-chart">
                            <div class="number" id="sparkline_bar6"><canvas width="107" height="55" style="display: inline-block; width: 107px; height: 55px; vertical-align: top;"></canvas></div>
                            <a class="title" href="javascript:;"> Peso Min
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm"> </div>
                    <div class="col-md-4">
                        <div class="sparkline-chart">
                            <div class="number" id="sparkline_line"><canvas width="100" height="55" style="display: inline-block; width: 100px; height: 55px; vertical-align: top;"></canvas></div>
                            <a class="title" href="javascript:;"> Peso Prom Gajo
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="!checkParams()">
    <div class="col-md-6 col-sm-6">

        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>CLIENTE/MARCA - CALIDAD</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="35%"> CLIENTE/MARCA </th>
                                <th width="20%"> CALIDAD </th>
                                <th width="20%"> # CLÚSTER </th>
                                <th width="20%"> PESO (KG) </th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>

                    <div class="panel-group accordion" id="accordion3" ng-repeat="tabla in tabla_cliente_marca_calidad" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#tabla_collapse_{{tabla.id}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="38%" class="nobmp-reporte-accordion"> {{ tabla.cliente_marca }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.calidad | number:2 }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.cluster | number:2 }} </th>
                                                    <th width="18%" class="nobmp-reporte-accordion"> {{ tabla.peso | number:2 }} </th>
                                                </tr>
                                        </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_{{tabla.id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr ng-repeat="marcas in tabla.marcas">
                                            <td><a href="/calidad?c={{ tabla.cliente_marca }}&m={{marcas.marca}}">{{marcas.marca}}</a></td>
                                            <td>{{marcas.calidad | number:2 }}</td>
                                            <td>{{marcas.cluster | number:2 }}</td>
                                            <td>{{marcas.peso | number:2 }}</td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="tabla.marcas.length == 0">
                                        <strong>Marcas: </strong> No se ha encontrado información de marcas para {{tabla.cliente_marca}}
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- DAÑOS -->
    <div class="col-md-6 col-sm-6">

        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>CLIENTE/MARCA - DAÑOS</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="35%"> CLIENTE/MARCA </th>
                                <th width="20%"> SELECCIÓN </th>
                                <th width="20%"> EMPAQUE </th>
                                <th width="20%"> OTROS </th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>


                    <div class="panel-group accordion" id="accordion4" ng-repeat="tabla in tabla_cliente_marca_danos" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#tabla_collapse_danos_{{tabla.id}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="38%" class="nobmp-reporte-accordion"> {{ tabla.cliente_marca }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.seleccion  | number:2 }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.empaque  | number:2 }} </th>
                                                    <th width="18%" class="nobmp-reporte-accordion"> {{ tabla.otros  | number:2 }} </th>
                                                </tr>
                                        </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_danos_{{tabla.id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr ng-repeat="marcas in tabla.marcas">
                                            <td><a href="/calidad?c={{ tabla.cliente_marca }}&m={{marcas.marca}}">{{marcas.marca}}</a></td>
                                            <td>{{marcas.seleccion | number:2 }}</td>
                                            <td>{{marcas.empaque | number:2 }}</td>
                                            <td>{{marcas.otros | number:2 }}</td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="tabla.marcas.length == 0">
                                        <strong>Marcas: </strong> No se ha encontrado información de marcas para {{tabla.cliente_marca}}
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="portlet light portlet-fit bordered">
          <div class="portlet-title">
              <div class="caption">
                  <span class="caption-subject font-dark sbold uppercase">
                      <h3>
                         DAÑOS GENERALES
                      </h3>
                  </span>
              </div>
          </div>
          <div class="portlet-body">
              <div id="echarts_generales" style="height:300px;"></div>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="portlet light portlet-fit bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-share font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Detalle de Daños</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#portlet_tab2_1" ng-click="tab('seleccion')" data-toggle="tab"> Seleccion</a>
                    </li>
                    <li>
                        <a href="#portlet_tab2_2" ng-click="tab('empaque')" data-toggle="tab"> Empaque </a>
                    </li>
                    <li>
                        <a href="#portlet_tab2_3" ng-click="tab('otros')" data-toggle="tab"> Otros </a>
                    </li>
                </ul>
            </div>
          <div class="portlet-body">
              <!-- <div class="tab-content"> -->
                  <!-- <div class="tab-pane active" id="portlet_tab2_1"> -->
                      <div id="echarts_generales_detalles" style="height:300px;"></div>
                  <!-- </div> -->
                <!--   <div class="tab-pane" id="portlet_tab2_2">
                      <div id="echarts_generales_2" style="height:300px;"></div>
                  </div>
                  <div class="tab-pane" id="portlet_tab2_3">
                      <div id="echarts_generales_3" style="height:300px;"></div>
                  </div> -->
              <!-- </div> -->
          </div>
      </div>
    </div>
</div>